---

- name: install PHP and supporting packages
  hosts: webserver
  become: true
  tasks:
  - name: install php
    pkgng:
      name:
        - php84
        - php84-zlib
        - php84-mbstring
        - php84-mysqli
        - php84-pdo_sqlite
        - php84-sqlite3
        - phpMyAdmin5-php84
        - php84-composer
        - php84-pcntl
        - php84-tokenizer
        - php84-curl
        - php84-exif
        - php84-gd
        - php84-ldap
        - php84-ctype
        - php84-dom
        - php84-simplexml
        - php84-xmlwriter
        - php84-session
  - name: make ini file
    ansible.builtin.file:
      path: /usr/local/etc/php.ini
      src: /usr/local/etc/php.ini-production
      state: link
  - name: configure php
    ansible.builtin.lineinfile:
      path: /usr/local/etc/php.ini-production
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    loop:
      - { regexp: '^post_max_size', line: 'post_max_size = 500M' }
      - { regexp: '^upload_max_filesize', line: 'upload_max_filesize = 500M' }
      - { regexp: '^max_input_vars', line: 'max_input_vars = 100000' }
      - { regexp: '^memory_limit', line: 'memory_limit = 512M' }
      - { regexp: '^max_execution_time', line: 'max_execution_time = 500' }
