---

- name: install and configure bareos-fd
  hosts: all
  become: true
  tasks:
  - name: remove bareos-old-style
    pkgng:
      name: bareos-client
      state: absent
    register: old_pkg
  - name: remove all old configs
    ansible.builtin.file:
      path: /usr/local/etc/bareos
      state: absent
    when: old_pkg.changed
  - name: add Bareos pkg repo
    ansible.builtin.template:
      src: "../../templates/pkg/repos/Bareos.conf"
      dest: "/usr/local/etc/pkg/repos/Bareos.conf"
      owner: root
      group: wheel
      mode: '0644'
  - name: install bareos
    pkgng:
      name: bareos.com-filedaemon
  - name: configure bareos-fd
    ansible.builtin.template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: root
      group: bareos
      mode: '0640'
    loop:
      - { src: '../../templates/bareos/bareos-fd.d/director/bareos-dir.conf', dest: '/usr/local/etc/bareos/bareos-fd.d/director/bareos-dir.conf' }
      - { src: '../../templates/bareos/bareos-fd.d/director/bareos-mon.conf', dest: '/usr/local/etc/bareos/bareos-fd.d/director/bareos-mon.conf' }
  - name: add bareos runsv directory
    ansible.builtin.file:
      path: /etc/sv/bareos_fd
      state: directory
      mode: '0755'
  - name: add bareos runsv file
    ansible.builtin.template:
      src: ../../templates/runit/bareos_fd_run
      dest: /etc/sv/bareos_fd/run
      owner: root
      group: wheel
      mode: '0755'
  - name: enable bareos boot
    ansible.builtin.file:
      src: /etc/sv/bareos_fd
      dest: /var/service/bareos_fd
      state: link
  - name: ensure scripts dir exists
    ansible.builtin.file:
      path: /root/scripts
      state: directory
      owner: root
      group: wheel
      mode: '0755'
  - name: add snapshotting script
    ansible.builtin.template:
      src: ../../templates/root/scripts/zfs_vss.sh
      dest: /root/scripts/zfs_vss.sh
      owner: root
      group: wheel
      mode: '0755'
  - name: restart if necessary
    community.general.runit:
      name: bareos_fd
      state: restarted
    when: old_pkg.changed
