---

- name: install and activate bareos-server
  hosts: backup_controller
  become: true
  tasks:
  - name: add Bareos pkg repo
    ansible.builtin.template:
      src: "../../templates/pkg/repos/Bareos.conf"
      dest: "/usr/local/etc/pkg/repos/Bareos.conf"
      owner: root
      group: wheel
      mode: '0644'
  - name: install bareos
    pkgng:
      name: bareos.com-director bareos.com-bconsole bareos.com-tools postgresql17-server
  - name: enable postgresql and bareos-server
    community.general.sysrc:
      name: '{{ item }}'
      value: 'yes'
    loop:
      - bareos_dir_enable
      - bareos_sd_enable
      - postgresql_enable
  - name: configure bareos-sd
    ansible.builtin.template:
      src: "../../templates/bareos/bareos-dir.d/{{ item }}"
      dest: "/usr/local/etc/bareos/bareos-dir.d/{{ item }}"
      owner: bareos
      group: bareos
      mode: '0640'
    loop:
      - 'job/BackupCatalog.conf'
      - 'messages/Standard.conf'
      - 'messages/Daemon.conf'
      - 'pool/Differential.conf'
      - 'pool/Full.conf'
      - 'pool/Incremental.conf'
  - name: enable bareos webui
    ansible.builtin.template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: root
      group: wheel
      mode: '0640'
    loop:
      - { src: '../../templates/apache24/modules.d/250_bareos.conf', dest: '/usr/local/etc/apache24/modules.d/250_bareos.conf' }
