---

- name: install and configure bareos-sd
  hosts: backup_storage
  become: true
  tasks:
  - name: add Bareos pkg repo
    ansible.builtin.template:
      src: "../../templates/pkg/repos/Bareos.conf"
      dest: "/usr/local/etc/pkg/repos/Bareos.conf"
      owner: root
      group: wheel
      mode: '0644'
  - name: install bareos
    pkgng:
      name: bareos.com-storage
  - name: configure bareos-sd
    ansible.builtin.template:
      src: "../../templates/bareos/bareos-sd.d/{{ item }}"
      dest: "/usr/local/etc/bareos/bareos-sd.d/{{ item }}"
      owner: bareos
      group: bareos
      mode: '0640'
    loop:
      - 'device/FileStorage.conf'
      - 'director/bareos-dir.conf'
      - 'director/bareos-mon.conf'
      - 'messages/Standard.conf'
      - 'storage/bareos-sd.conf'
  - name: add bareos runsv directory
    ansible.builtin.file:
      path: /etc/sv/bareos_sd
      state: directory
      mode: '0755'
  - name: add bareos runsv file
    ansible.builtin.template:
      src: ../../templates/runit/bareos_sd_run
      dest: /etc/sv/bareos_sd/run
      owner: root
      group: wheel
      mode: '0755'
  - name: enable bareos boot
    ansible.builtin.file:
      src: /etc/sv/bareos_sd
      dest: /var/service/bareos_sd
      state: link
