---

- name: run freeradius3 from runit
  hosts: radius
  vars:
    srv: freeradius3
  become: true
  tasks:
  - name: install freeradius3
    community.general.pkgng:
      name: 'net/{{ srv }}'
  - name: configure {{ srv }}
    ansible.builtin.copy:
      src: '../../templates/raddb/{{ item }}'
      dest: '/usr/local/etc/raddb/{{ item }}'
      owner: freeradius
      group: freeradius
      mode: '0640'
    loop:
      - clients.conf.template
      - radiusd.conf
      - sites-available/dshs-main
      - sites-available/dshs-byod
      - policy.d/dshs
      - mods-available/mschap
      - mods-available/eap-dshs
      - mods-available/exec
  - name: activate configuration for mods
    ansible.builtin.file:
      src: '/usr/local/etc/raddb/{{ item.class }}s-available/{{ item.name }}'
      dest: '/usr/local/etc/raddb/{{ item.class }}s-enabled/{{ item.name }}'
      state: link
    loop:
      - { class: site, name: dshs-main }
      - { class: site, name: dshs-byod }
      - { class: mod, name: mschap }
      - { class: mod, name: eap-dshs }
      - { class: mod, name: exec }
  - name: remove other config file
    ansible.builtin.file:
      path: '/usr/local/etc/raddb/{{ item.class }}s-enabled/{{ item.name }}'
      state: absent
    loop:
      - { class: site, name: default }
  - name: add {{ srv }} runsv directory
    ansible.builtin.file:
      path: '/etc/sv/{{ srv }}'
      state: directory
      mode: '0755'
  - name: add {{ srv }} runsv file
    ansible.builtin.template:
      src: '../../templates/runit/{{ srv }}_run'
      dest: '/etc/sv/{{ srv }}/run'
      owner: root
      group: wheel
      mode: '0755'
  - name: enable {{ srv }} boot
    ansible.builtin.file:
      src: '/etc/sv/{{ srv }}'
      dest: '/var/service/{{ srv }}'
      state: link
