---

- name: install and activate rclone
  hosts: rclone
  become: true
  tasks:
  - name: install rclone
    pkgng:
      name: rclone jq
  - name: enable user mount
    ansible.posix.sysctl:
      name: vfs.usermount
      value: 1
      state: present
      reload: true
  - name: add rclone config build script
    ansible.builtin.template:
      src: ../../templates/rclone/get_site_libraries.sh
      dest: /home/dshs-rclone-rclone_DSHS.LOCAL/get_site_libraries.sh
      owner: dshs-rclone-rclone
      group: "Domain users"
      mode: '0755'
